burstsearch/build/
docs/source/_themes/
*ipynb_checkpoints*

*build/
*egg-info/
dist/

*.c
*.so
*.pyd

*.pyc
*.*~
*.swp
*.png
*.pdf
notebooks/dev/docs/docs_html
*.hdf5
notebooks/data
*.lnk
notebooks/dev/tests/*evaluated.ipynb
.idea/
MANIFEST
*.egg
*.zip
docs_html/
.coverage
notebooks/out
notebooks/wip
.cache
*.csv
_*
docs/source/modules/generated
