burstsearch/build/
burstsearch/c_burstsearch.c

docs/source/_themes/

*ipynb_checkpoints*

*build/

notebooks/dev/docs/load_fretbursts.py
notebooks/dev/dev/load_fretbursts.py

*.c
*.so
*.pyd

*.pyc
*.*~
*.swp
*.png
*.pdf
