burstsearch/build/
burstsearch/c_burstsearch.c
plots/*
figure/*
log/*
data/
cache/*
bak/*

notebooks/.ipynb_checkpoints/

*build*
*.c
*.so
*.pyd

.bzr*
*.dat
*.pickle
*.spc
*.pyc
*.*~
*.swp
*.png
*.pdf
